dist: xenial
language: python
python:
  - "2.7"
  - "3.6"
  - "3.7"
  - "pypy"
  - "pypy3"
install:
  - pip install tox-travis
script:
  - tox
matrix:
  include:
    - python: "3.7"
      script: black --line-length 120 --check github_webhook tests setup.py
      install: pip install black
